<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재!! -->
<mapper namespace="com.yeoju.root.mybatis.GoodsDAO">
	<resultMap type="com.yeoju.root.common.dto.GoodsDTO" id="GoodsMap">
		<id column="goods_id" property="goodsId"/>
		<result column="goods_name" property="goodsName"/>
		<result column="goods_info" property="goodsInfo"/>
		<result column="goods_price" property="goodsPrice"/>
		<result column="user_id" property="userId"/>
		<result column="reg_date" property="regDate"/>
		<result column="sold_out" property="soldOut"/>
		<result column="how_many" property="howMany"/>
		<result column="img" property="img"/>
		<result column="category_code" property="categoryCode"/>
	</resultMap>
	<!-- 01.상품 리스트 -->
	<select id="listGoods" resultMap="GoodsMap">
		<!-- SELECT B.* FROM(
		SELECT rownum rn, A.* FROM (
		SELECT * FROM goods
		<if test="keyword != ''">
		WHERE goods_name LIKE '%'||#{keyword}||'%'
		</if>
		ORDER BY goods_id DESC)A)B WHERE rn -->
		select * from goods order by goods_id desc
	</select>
	
		
	<!-- 02.상품 상세보기 -->
	<select id="detailGoods" resultMap="GoodsMap">
		SELECT * FROM goods WHERE goods_id=#{goodsId}
	</select>	
	
	<!-- 03.상품 추가하기 -->
	<insert id="insertGoods">
		INSERT INTO goods
		VALUES(
			goods_seq.NEXTVAL, #{goodsName}, #{goodsInfo}, #{goodsPrice},
			#{userId}, sysdate, <!-- #{RegDate} -->	0, <!-- #{soldOut} -->
			1, #{img}, '1'
		)
	</insert>
	
	<!-- 04.상품 수정/편집 -->
	<update id="updateGoods">
		UPDATE goods SET goods_name=#{goodsName}, goods_info=#{goodsInfo}, goods_price=#{goodsPrice}, img=#{img}
      	 WHERE goods_id=#{goodsId}
	</update>
	
	<!-- 05.상품 레코드 삭제처리 -->
	<delete id="deleteGoods">
		DELETE FROM goods
		WHERE goods_id=#{goodsId}
	</delete>
	
	<!-- 06.삭제를 위한 상품 이미지 파일이름 select -->
	<select id="fileInfo" resultType="String">
		SELECT goods AS goodsUrl
		FROM goods
		WHERE goods_id=#{goodsId}
	</select>
	
</mapper>