<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeoju.root.mybatis.MemberDAO">
	<resultMap id="member" type="com.yeoju.root.common.dto.MemberDTO">
		<id property="userId" column="user_id"/>
		<result property="pw" column="pw"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="recentDate" column="recent_Date"/>
		<result property="profileImg" column="profile_img"/>
		<result property="sessionId" column="session_id"/>
		<result property="limitTime" column="limit_time"/>
	</resultMap>
	
	
	<select id="user_check" resultMap="member">
		select * from member where user_id=#{userId}
	</select>
	<select id="memberInfo" resultMap="member">
		select * from member where user_id=#{userId}
	</select>
	<select id="memberList" resultMap="member">
		select * from member 
	</select>
	<insert id="register">
		insert into member(user_id, pw, tel, reg_date, profile_img) values(#{userId}, #{pw}, #{tel}, sysdate, 'default.png')
	</insert>
	
	<update id="keepLogin">
		update member set session_id=#{sessionId},
				limit_time=#{limitDate} where user_id=#{userId}
	</update>
	
	<select id="getUserSessionId" resultMap="member">
		select * from member where session_id=#{sessionId}
	</select>
	
	<select id="find_id" resultMap="member">
		select user_id from member where email = #{email}
	</select>
	
	<select id="getUserInfo" resultMap="member">
		select * from member where user_id=#{userId}
	</select>
		
</mapper>