<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeoju.root.mybatis.MyPageDAO">
	<resultMap type="com.yeoju.root.common.dto.GoodsDTO" id="GoodsMap">
		<id column="goods_id" property="goodsId"/>
		<result column="goods_name" property="goodsName"/>
		<result column="goods_info" property="goodsInfo"/>
		<result column="goods_price" property="goodsPrice"/>
		<result column="user_id" property="userId"/>
		<result column="reg_date" property="regDate"/>
		<result column="sold_out" property="soldOut"/>
		<result column="how_many" property="howMany"/>
		<result column="img" property="img"/>
		<result column="category_code" property="categoryCode"/>
	</resultMap>
	<insert id="insertGoods">
		INSERT INTO goods(goods_id, goods_name, goods_info, goods_price, user_id, reg_date, sold_out, how_many,img,category_code) 
		VALUES(goods_seq.NEXTVAL,#{goodsName},#{goodsInfo},#{goodsPrice},#{userId},sysdate,0,#{howMany},#{img},#{categoryCode})
	</insert>
	<select id="sellGoods" resultMap="GoodsMap">
		SELECT * FROM goods WHERE sold_out=0
	</select>
	<select id="heartPage" resultMap="GoodsMap">
		SELECT * FROM goods WHERE sold_out=0
	</select>

	<!-- <select id="heartGoods" resultMap="GoodsMap">
		SELECT * FROM goods WHERE user_id = #{userId} and sold_out=0
	</select> -->
	
	<!-- 회원정보 수정 -->
	<update id="umodify">
		update member set name = #{name}, pw = #{pw}, email = #{email}, 
			addr1 = #{addr1}, addr2 = #{addr2}, addr3 = #{addr3}, gender = #{gender }		
				where user_id = #{userId}
	</update>
</mapper>